.hero-section {
  background-color: #fff;
  background-image: url("./herosection-bg1.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 100px 20px;
  color: #000;
  display: flex;
  align-items: center;
  min-height: 650px;
  font-weight: 700;
  position: relative; /* Added for positioning */
}

/* Profile picture container */
.profile-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 50px; /* Space between image and content */
}

.profile-pic {
  width: 350px;
  margin-left: 450px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f7b801; /* Yellow border */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Updated hero content */
.hero-content {
  font-family: "Inter", sans-serif;
  width: 60%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  text-align: left;
  border-radius: 10px;
  font-size: 33px;
  margin: 0;
  font-weight: 900;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
  }

  .profile-container,
  .hero-content {
    width: 100%;
    max-width: 100%;
  }

  .profile-container {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .profile-pic {
    width: 250px;
    height: 250px;
  }
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700; /* Bold heading */
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600; /* Semi-bold subtitle */
}

.hero-description {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.6; /* Improve readability */
}

.cta-button {
  font-family: "Open Sans", sans-serif;
  background-color: #c13450; /* Red background */
  color: #fff; /* White text */
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600; /* Semi-bold button text */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: #a02c3f; /* Darker red on hover */
}

.hero-note {
  font-size: 16px;
  margin-top: 20px;
  color: #555; /* Light gray for note */
}

.hero-award {
  font-size: 14px;
  margin-top: 10px;
  color: #777; /* Lighter gray for award text */
}

.hero-award strong {
  font-weight: 600; /* Semi-bold for emphasis */
}
