.hero-section {
  background-color: fff;
  background-image: url("./herosection-bg.png"); /* Add your background image */
  background-size: contain; /* Ensure the image covers the entire section */
  background-position: right; /* Center the background image */
  background-repeat: no-repeat;
  padding: 100px 20px; /* Adjust padding as needed */
  color: #333; /* Dark gray text */
  text-align: left; /* Align content to the right */
  display: flex;
  justify-content: flex-start; /* Align content to the right */
  align-items: center; /* Center content vertically */
  min-height: 650px; /* Set a minimum height for the hero section */
}

.hero-content {
  max-width: 600px; /* Limit content width for better readability */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background for readability */
  padding: 40px; /* Add padding to the content */
  border-radius: 10px; /* Rounded corners */
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700; /* Bold heading */
}

.hero-content h1 div {
  font-size: 58px;
  margin-bottom: 20px;
  color: #3d348b;
  font-weight: 700; /* Bold heading */
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600; /* Semi-bold subtitle */
}

.hero-description {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.6; /* Improve readability */
}

.cta-button {
  font-family: "Open Sans", sans-serif;
  background-color: #c13450; /* Red background */
  color: #fff; /* White text */
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600; /* Semi-bold button text */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: #a02c3f; /* Darker red on hover */
}

.hero-note {
  font-size: 16px;
  margin-top: 20px;
  color: #555; /* Light gray for note */
}

.hero-award {
  font-size: 14px;
  margin-top: 10px;
  color: #777; /* Lighter gray for award text */
}

.hero-award strong {
  font-weight: 600; /* Semi-bold for emphasis */
}
